.img-style{
    position: absolute;
width: 826px;
height: 627px;
left: 642px;
top: 135px;


}

.home-style{
    position: absolute;
width: 579.48px;
height: 285.32px;
left: 54.72px;
top: 321.38px;

background: #000000;
}

.text-style{
    position: absolute;
width: 579.48px;
height: 285.32px;
left: 54.72px;
top: 321.38px;

background: #000000;
}